/*
-----------------------------------
    BACKGROUNDS
-----------------------------------
*/

.background-content-start-page,
.background-content-register,
.background-content-info,
.background-content-about
{
    position : relative;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
}

.background-content-start-page
{
    height : 160vh;
}

.background-content-register,
.background-content-info,
.background-content-about
{
    height : 110vh;
}

.background-content-footer
{
    height: 30vh;
}

.background-content-start-page
{
    background-image: url("../../images/backgrounds/background_start_page.png");
}

.background-content-register
{
    background-image : url("../../images/backgrounds/background_content_register.png");
}

.background-content-info
{
    background-color: #ECECEC;
}

.background-content-about
{
    background-image : url("../../images/backgrounds/background_content_about.png");
}

.background-content-footer
{
    background-color: #FFF;
}

/*
-----------------------------------
    Disable element selection
-----------------------------------
*/

.disable-text-select
{
    cursor:default;
    webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

/*
-----------------------------------
    Text formatting
-----------------------------------
*/

.start-page-text-format
{
    text-align: center;
    font-family: CorbelBold, serif;
}

.start-page-info-text-format
{
    color: #1F2A31;
}

.start-page-about-text-format-heading
{
    color: #FEE6DB;
    font-size: 3.5vw;
    padding-top: 7%;
}

.start-page-info-text-format .start-page-info-msg
{
    font-size: 3.5vw;
    padding-top: 3%;
}

.start-page-info-text-format .start-page-info-facilities
{
    font-size: 1.5vw;
}

.start-page-about-content
{
    font-family: Corbel, serif;
    font-size: 2.4vw;
    color: #fff;
    /*width: 80%;*/
    /*margin-left: 10%;*/
    margin-top: 30px;
    line-height: 40px;
}

.start-page-about-quote
{
    font-family: ArCena, serif;
    font-size: 8.5vw;
    color: #26163d;
    height: 80px;
}

.start-page-about-quote-name
{
    font-family: Angelina, serif;
    font-size: 3vw;
    color: #26163d;
}

/*
-----------------------------------
    Icons
-----------------------------------
*/

img.start-page-info-icons
{
    width: 40%;
}

.start-page-info-spacing-top
{
    margin-top: 35px;
}

/*
-----------------------------------
    Buttons
-----------------------------------
*/

.start-page-info-button
{
    background-color: #1F2A31;
    border: none;
    color: white;
    padding: 15px 35px;
    font-size: 22px;
}

button.start-page-info-button:hover
{
    background-color: #22a4fb;
}

/*
-----------------------------------
    Style elements
-----------------------------------
*/

.logo
{
    font-size: 5.2vw;
    font-family: Aldo, serif;
    color: #EBEBEB;
    padding-left: 65px;
    padding-top: 45px;
}

.start-page-welcome-msg
{
    text-align: center;
    font-size: 5.2vw;
    color: white;
    font-family: Corbel, serif;
    font-weight: 600;
    margin-top: 13%;
    text-shadow: 0 0 0.7em #000;
}

.start-page-welcome-msg .blue
{
    color: #22a4fb;
    display: inline;
}

.start-page-photo
{
    width: 100%;
    margin-top: 70px;
}

/*
-----------------------------------
    CSS Default style elements
-----------------------------------
*/

a
{
    text-decoration: none !important;
}