 <!DOCTYPE html>
<html>
    <head>
        <title>Profile page</title>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Bootstrap Main CSS -->
        <link href="css/bootstrap.css" rel="stylesheet">
        
        <!-- Costom CSS -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        
        <!-- Include jQuery -->
        <script src="js/jquery.js"></script>
        
        <!-- Bootstrap Main javascript -->
        <script src="js/bootstrap.js"></script>
        


		<script> 
			function initParallax() {
				$('#start_page').parallax("100%", 0.3);
				$('#register_page').parallax("100%", 0.3);
				$('#content_page').parallax("100%", 0.3);	
				$('#about_page').parallax("100%", 0.1);

			}
			$(document).ready(function(){
				$("#register-button").on('click',function() {
					$('html, body').animate({
						'scrollTop' : $("#register_page").position().top
					});
				});
				$("#about-us-button").on('click',function() {
					$('html, body').animate({
						'scrollTop' : $("#about_page").position().top
					});
				});
				initParallax();
			});
		</script>

		<style> 
			#panel, #flip {
				padding: 5px;
				text-align: center;
				background-color: #e5eecc;
				border: solid 1px #c3c3c3;
			}

			#panel {
				padding: 50px;
				display: none;
			}
		</style>

        
        
        
        
        
        
        
    </head>

    
    <body>   
<div id="start_page">
	<div class="row">
		<div id="logo">
			<h1 class="logo">eBuddy</h1>
		</div>
		
		<div id="login-button"  class= "pull-right">
			<button class="btn btn-default login" type="submit">LOGIN</button>     
		</div>
	</div>
	<div class="container">
		<div class="title">
			<p1>Platforma de</p1>
			<p2>socializare</p2>
		</div>

		<div class="row centred-form">
			<div class = "col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<button id = "about-us-button" type="button" class="btn first-page-button" > DESPRE NOI</button> 
			</div>	
			<div class = "col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<button id = "register-button" type="button" class="btn first-page-button"> INREGISTRAE </button>  
			</div>
		</div>
	</div>
</div>


<div id="register_page">
	<p class="title createacount">FORMULAR PENTRU CREARE CONT</p>
	
	<form class="form-horizontal" role="form" action="/product/create" method="POST">
		<div class="row clearfix">
			<div class="col-lg-7">
				<p class="title note">Te rog sa completezi urmatoarele campuri</p>
			</div>

			<div class="col-lg-4">
				<div class="form-group">
					<label for="name" class="sr-only"></label>
					<input id="name" class="form-control input-group-lg" name="Name" title="Enter name" placeholder="Name" type="text">
				</div><!--/form-group-->
				<div class="form-group">
					<label for="surname" class="sr-only"></label>
					<input id="surname" class="form-control input-group-lg" name="Surname" title="Enter surname" placeholder="Surname" type="text">
				</div><!--/form-group-->
				<div class="form-group">
					<label for="email" class="sr-only"></label>
					<input id="email" class="form-control input-group-lg" name="Email" title="Enter email" placeholder="Email" type="email">
				</div><!--/form-group-->
				<div class="form-group">
					<label for="password" class="sr-only"></label>
					<input id="password" class="form-control input-group-lg" name="password" title="Enter password" placeholder="Password" type="password">
				</div><!--/form-group-->
			</div>
		</div>
</div>



<div id="content_page">
	<p class="title facilitati"> FACILITATI OFERITE </p>
	
	<div class = "row">
		<div class="facility-icon col-lg-4 col-md-6 col-sm-12">
			<img class="fc-image"  src="images/icons/friends.png">
			<p class="facility">Conecteaza-te oline <br> cu prietenii</p>
		</div>

		<div class="facility-icon col-lg-4 col-md-6 col-sm-12">
			<img class="fc-image" src="images/icons/chat.png">
			<p class="facility">Discutii in timp real</p>
		</div>
		
		<div class="facility-icon col-lg-4 col-md-6 col-sm-12">
			<img class="fc-image" src="images/icons/news.png">
			<p class="facility">Stai la curent cu ultimele <br> noutati</p>
		</div>
	
		<div class="facility-icon col-lg-4 col-md-6 col-sm-12">
			<img class="fc-image" src="images/icons/photos.png">
			<p class="facility">Impartaseste poze si momente <br> importante din viata ta</p>
		</div>

		<div class="facility-icon col-lg-4 col-md-6 col-sm-12">
			<img class="fc-image" src="images/icons/notification.png">
			<p class="facility">Completeaza-ti profilul cu <br> informatii despre tine</p>
		</div>
		
		<div class="facility-icon col-lg-4 col-md-6 col-sm-12">
			<img class="fc-image" src="images/icons/user.png">
			<p class="facility">Alege sa primesti notificari <br> pe care tu le consideri importante</p>
		</div>
	</div>
	
	<div class="facility">
		<div class="facility-icon">
		   <button type="button" class="btn btn-primary other"> + MULTE ALTELE </button>  
		</div>
	</div>
	
</div>

<div id="about_page">
	
	<p class="title createacount">DESPRE NOI</p>
	<p class="content">Prin intermediul platformei noastra de socializare, ai posibilitatea de a tine legatura cu toi prietenii tai, oriunde te-ai afla. De asemenea ramai la curent cu toate noutatile si stirile din mediul online <br>
	eBuddy este in continua dezvoltare, ajuta si tu la inbunatatirea platformei, poti sa iti exprimi punctul de vedere iar noi il vom lua in considerare.<br>
	De aceea te asteptam cu un <a class="feedback" href="www.google.ro">feedback</a> !:)
	</p>
	<!-- <p class="ghilimele">"</p>-->
	<p class="teamtx">Echipa eBuddy</p>
	
</div>

<div id="footer">            
	 <div class="footer">
		 <div class="footer-cell-left">
			<p class="foter">eBuddy © taote drepturile sunt rezervate</p>
		 </div>
		
		 <div class="footer-cell-right">
			<p class="foter">Site realizat pentru cursul P.A.W. din cadrul <br> Facultatii de Automatica, Calculatoare si    Electonica.</p>
		 </div>

	 </div> 
</div>
       
        
    </body>
</html> 