<div id="postModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-8 postContentInModal"></div>
                    <div class = "col-lg-4 postCommentsInModal"></div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
    <!-- /cnew Post modal -->


</div>