<div class="tab-pane fade {% if isGuest %} in active {% endif %} {% if other_user %} in active {% endif %}" id="activity">

    <!-- Timeline -->
    <div class="timeline timeline-left content-group">
        <div id="postsTimeline" class="timeline-container">

            <div class="timeline-row loading3 col-centered" style="display: none">
                <div></div><div></div><div></div>
                <div></div><div></div>
            </div>

        </div>

    </div>
    <!-- /timeline -->

</div>