.panel-body img{
    width: 100%;
}
#newPostContent img{
    width: 100%;
}
/* USER PROFILE PAGE */
.card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.panel-footer{
    padding-top: 5px;
}

.friend-request-btn{
    background-image: url("../images/icons/fr-request-static.png");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.friend-request-btn:hover{
    background-image: url("../images/icons/fr-request-hover.png");
    box-shadow:0px 0px 15px 0px blue;
}

.friend-request-reject-btn{
    background-image: url("../images/icons/fr-request-reject-static.png");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.friend-request-reject-btn:hover{
    background-image: url("../images/icons/fr-request-reject-hover.png");
    box-shadow:0px 0px 15px 0px red;
}

.transition{
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}


.col-centered{
    float: none;
    margin: 0 auto;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}

.card.hovercard .card-background {
    height: 130px;
}

.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}

.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}

.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}

.card.hovercard .card-info .card-title {
    padding: 0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.btn-pref .btn {
    -webkit-border-radius: 0 !important;
}

.navbar-header {
    min-width: auto;
}

.like_button_inactive{
    background-image:url("/web/eBuddy-assets/images/icons/profile/like.png") ;
}

.like_button_active{
    background-image:url("/web/eBuddy-assets/images/icons/profile/like_active.png") ;
}

.like_button_inactive:hover{
    background-image:url("/web/eBuddy-assets/images/icons/profile/like_active.png") ;
}


.dislike_button_inactive{
    background-image:url("/web/eBuddy-assets/images/icons/profile/dislike.png") ;
}

.dislike_button_active{
    background-image:url("/web/eBuddy-assets/images/icons/profile/dislike_active.png") ;
}

.dislike_button_inactive:hover{
    background-image:url("/web/eBuddy-assets/images/icons/profile/dislike_active.png") ;
}

.post-actions .custom-responsive-action-img
{
    width: 10px;
    height: 30px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    padding-left: 20px;
    margin-left: 10px;
}

.comment_box{
    padding: 0;

}
.comment_box input{
    color: black;
    background-color: darkgray;
    font-family: "Times New Roman", Times, serif;
    font-size: medium;
}

.postCommentsInModal{
    max-height: 35em;
    overflow-y: scroll;
}