@font-face{
    font-family: Aldo;
    src:url(../fonts/AldoPC.ttf);
}

#container{
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    clear: both;
    overflow:hidden;
    position: relative;
}
/* Elementele comune iecarui element */
.page_content
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center; 
    position: relative;
    height: 1070px;
}

#start_page
{
    background-image: url(../images/background_start_page.png);
}

#register_page
{
    background-image: url(../images/background_content_register.png);
}

#content_page
{
    background-image: url(../images/background_content_info.png);
}

#about_page
{
    background-image: url(../images/background_about.png);
}

#footrer{
    padding-top: 20px;
    padding-left: 90px;
    height: auto;
}



h1{
    color: #EBEBEB;
    position: absolute
}

h1.logo{
    font-size: 5.3vw;
    font-family: Aldo;
}

@font-face{
    font-family: Corbel;
    src:url(../fonts/CORBEL_0.TTF);
}

#button_location{
    padding-top: 30px;
    padding-right: 70px;
    float: right;
}

.btn-default.login{
    width: 130px;
    background-color: #36424a;
    border-radius: 0px;
    border: 0;
    font-size: 23px;
    color: white;
    font-family: Corbel;
    font-weight: bold;
}

.title{
    text-align: center;
    font-size: 5.3vw;
    color: white;
    padding-top: 350px;
    font-family: Corbel;
    font-weight: 600;
}

.p2{
    color: #22a4fb;
}


.btn.btn-primary{
    border-radius: 1px;
    border-color: #a7b2b9;
    border-width: 2px;
    font-size: 30px;
    font-family: Corbel;
    margin-top: 130px;
    background: rgba(76, 175, 80, 0.01);
    padding: 25px 40px 25px 40px;
    
}

.btn.btn-primary.desprenoi{
    
    margin-left: 25%;
    position: relative;
    float: left;
}

.btn.btn-primary.creazacont{
    margin-right: 25%;
    position: relative;
    float: right;  
}

.btn.btn-primary:hover{
    background-color: #22a4fb;
    border-color: #2eaafd;
    border-width: 2px;
}

p.title.createacount{
    padding-top: 140px;
}

p.title.note{
    padding-top: 0px;
    font-size: 30px;
    color: #f9e37a;
}

.form{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}

.form-cell{
    display: table-cell;
    text-align: center;
    padding-left: 10%;
}

p.error{
    color: red;
    opacity: 0.3;
    float: left;
    font-size: 30px;
    padding-top: 60px;
    margin-bottom: -20px;
}
p.error:hover{
    color: red;
    opacity: 1;
}

.form-control{
    border-radius: 0;
    width: 500px;
    height: 60px;
    font-size: 30px;
    float: left;
}

p.title.facilitati{
    padding-top: 80px;
    /*font-size: 68pt;*/
    font-size: 68px;
    color: #1f2a31;
}

/*
.btn-primary.btn-facilitati{
    padding: 0px 0px 0px 0px;
   /*font-size: 30px;
    color: #1f2a31;
    fonr-size: 30pt;
    font-family: Corbel;
    margin-left: 10%;
    margin-right: 10%;
    border 0px;
}
*/

.facility{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}

.facility-icon{
    display: table-cell;
    text-align: center;
}

p.facility{
    color: #1f2a31;
    font-family: Corbel;
    font-size: 30px;
    font-weight: 600;
    
}

.btn.btn-primary.other{
    background-color: #1f2a31;
    margin-top: 0px; 
}

p.title.desprenoi{
    padding-top: 10px;
}

p.content{
    padding: 2% 10% 0% 10%;
    text-align: center;
    font-size: 34pt;
    color: white;
    font-family: Corbel;
}

a{
    color: #22a4fb;
}

a:hover{
    text-decoration: none;
    color: dodgerblue;
}

@font-face{
    font-family: ARCENA;
    src:url(../fonts/ARCENA.TTF);
}

p.ghilimele{
    font-size: 160pt;
    font-family: ARCENA;
    text-align: center;
}

@font-face{
    font-family: Angelina;
    src:url(../fonts/angelina.TTF);
}

p.teamtx{
    text-align: center;
    font-family: Angelina;
    font-size: 60px;
    font-weight: 500;
}

@font-face{
    font-family: BellGothicStd;
    src:url(../fonts/BellGothicStd-Bold.otf);
}

.footer{
    background-image: url(../images/social_globe.png);
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    margin-top: -130px;
    font-family: BellGothicStd;
    font-size: 20px;
}

.footer-cell-left{
    display: table-cell;
    text-align: left;
    padding-left: 50px;
}

.footer-cell-right{
    padding: 0px 0px 60px 10px;
    display: table-cell;
    text-align: right;
    background-image: url(../images/ace_ucv_transparent_sample.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

p.foter{
    padding-top: 250px;
}

.title_content2
{
    text-align: center;
    font-size: 3.7vw;
    color: white;
    padding-top: 150px;
    font-family: Corbel;
    font-weight: 600;
}

/* Start Media Queries */

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px)  and (max-width : 980px) {

    h1.logo
    {
        font-size: 70px;
    }
    
    /*menu schimbat*/
    
    .btn.btn-primary.desprenoi{
        margin-left: 15%;
    }

    .btn.btn-primary.creazacont{
        margin-right: 15%;
    }
}

/* Small Tablets (portrait and landscape) ----------- */
@media only screen and (min-width : 569px) and (max-width : 767px) {
    
    .btn.btn-primary.desprenoi{
        position: static;
        /*float: center;*/
    }

    .btn.btn-primary.creazacont{
        position: absolute;
        /*float: center;  */
    }
    
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 240px) and (max-width : 568px) {
    
    
}