<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
    <title>Title</title>
</head>
<body>
    <div class="background-content-start-page">
        <div class="logo">eBuddy</div>
    </div>
    <div class="background-content-register"></div>
    <div class="background-content-info"></div>
    <div class="background-content-about"></div>
</body>
</html>